<?php if(!$isAlbum): ?>
<div class="side">
    <div class="hd"><h2><a title="<?php print($postObj->nick); ?>的推荐" href="/author/<?php print($postObj->nick); ?>"><span class="stdauthor stdauthor-<?php print($postObj->nick); ?>"><span class="num">(<?php print($postsNum); ?>)</span></span><s></s></a></h2></div>
    <div class="bd">
    <?php
    $currentPostId = $postObj->id;

    $maxRecentCount = 6;
    foreach($recentPostList as $recentPostObj){
        if(0 < $maxRecentCount  && $recentPostObj->id !== $currentPostId){
            $maxRecentCount--;
            print('<a href="/' . $recentPostObj->id . '" title="' . $recentPostObj->title . '"><img width=80 height=105 src="'.$recentPostObj->img.'"/></a>');
        }
    }
    ?>
    </div>
    </div>
    <div class="main"><?php print renderPost($postObj, array(
        'headerTag' => 'h1'
        )); ?></div>
<?php else: ?>
<div class="main item-album"><?php print(renderPost($postObj, array(
    'headerTag' => 'h1'
))); ?></div>
<?php endif;?>
<textarea><?php if($prevPostObj): $prevPostId = getPostRootId($prevPostObj); ?><a href="/<?php print($prevPostId); ?>" data-act="fp.item/prev" title="上一篇：<?php print($prevPostObj->title); ?>" class="prev"></a><?php endif; ?><?php if($nextPostObj): $nextPostId = getPostRootId($nextPostObj); ?><a href="/<?php print($nextPostId); ?>" data-act="fp.item/next" title="下一篇：<?php print($nextPostObj->title); ?>" class="next"></a><?php endif; ?></textarea>
