<?php
$title = $postObj->title . ' | ' . System::config('site_name');
$headerTag = 'div';


$pageCls = 'item';
require '../common/header.html';

$assetTool->import('fp.item');
if($isAlbum){
    $assetTool->import('fp.album');
}
?>

<?php
$springId = '2027';
$isSpring = $springId === $postObj->id || $springId === $postObj->sid;
if($isSpring){
?>
<style>
.tpl-item{background:url(/asset/default/res/spring_bg.jpg) repeat}
.stdpost{border-color:transparent;background:transparent}
.carousel-trigger{display:none}
.spring-gift{width:300px;height:85px;padding-top:50px;background: url(/asset/default/res/spring_download.png) no-repeat;margin-top:45px}
.spring-gift a{display: block;height:85px;width:80px;margin-right:20px}
</style>
<?php
}
?>

<div id="container">
    <div id="slider">
        <div id="post<?php print($postObj->id); ?>" class="panel"><?php require 'block.html'; ?></div>
    </div>
    <div id="trigger" class="carousel-trigger">
        <?php if($prevPostObj): $prevPostId = getPostRootId($prevPostObj); ?>
        <a href="/<?php print($prevPostId); ?>" data-act="fp.item/prev" title="上一篇：<?php print($prevPostObj->title); ?>" class="prev"></a>
        <?php endif; ?>
        <?php if($nextPostObj): $nextPostId = getPostRootId($nextPostObj); ?>
        <a href="/<?php print($nextPostId); ?>" data-act="fp.item/next" title="下一篇：<?php print($nextPostObj->title); ?>" class="next"></a>
        <?php endif; ?>
    </div>
</div>
<?php
if($isSpring){
?>
<script>
(function(D){
    D.append(D.create('<div class="spring-gift"><a href="#1"></a><a href="#2"></a><a href="#3" title=""></a></div>'),D.get('div.detail','#post<?php print $postObj->id; ?>'));
})(KISSY.DOM);
</script>
<?php
}
?>
<?php
$initJSMod = 'fp.item';
require '../common/footer.html';
