.grid{
    overflow: hidden;
    zoom: 1;
}

.postcompose-modal{
    width: 560px;
}
.postcompose-modal .modal-body strong{
    color: #072;
    margin: 0 5px;
}
.postcompose-modal .modal-body .error,
.postcompose-modal .modal-body .error strong{
    color: #CA6445;
    font-weight: normal;
}

.grid{
    position: relative;
}
.grid .rgt{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 240px;

    visibility: hidden;
}
.rgt .box{
    background: #F0F3F5;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
}
.rgt .box-hd{
    font-weight: bold;
    color: #27A;
}

/* 分类 */
.category .item{
    margin-bottom: 5px;
    padding-left: 5px;
    border-left: 4px solid #a9f1fa;
}
.category .item span{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    padding: 0 3px;
    color: #999;
    cursor: pointer;
    margin-right: 5px;
    text-align: center;
    min-width: 32px;
    position: relative;
    overflow: hidden;
}
.category .item span:hover{
    border-color: #aaa;
    color: #666;
}

.category .item ins{
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    background: #FF6701;
    transform: rotate(40deg);
    visibility: hidden;
}
.category .item span.selected{
    color: #000;
    border: 2px solid #FF6701;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: -1px;
    margin-right: 4px;
}
.category .item span.selected ins{
    visibility: visible;
}

.category .item s{
    position: absolute;
    top: 3px;
    right: 3px;

    width: 6px;
    height: 6px;
    border-radius: 3px;
}
