.submiturl .grid-item{
    padding: 8px 10px;
    height: 128px;
}
.submiturl .grid-item .title{
    max-height: 36px;
    overflow: hidden;
}

.submiturl .grid-item .action .btn-group{
    margin-left: 3px;
}
.submiturl .grid-item .label{
    margin-right: 5px;
}

.submiturl .column p,
.submiturl .column span{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.submiturl .column span{
    font-weight: bold;
    width: 43px;
    padding-right: 5px;
    text-align: right;
}

.submiturl .column p{
    width: 196px;
    color: #999;
    height: 18px;
    overflow: hidden;
}

.submiturl .meta{
    position: relative;
    left: -4px;
    background: #F7FBF7;
    border: 1px solid #e2eeee;
    border-radius: 4px;
    padding: 3px;
    margin: 2px 0 1px;
}

.submiturl .action a.btn{ margin: 0 3px; }

.submiturl .label-info{
    float: right;
}
