<?php
$isEditMode = isset($postObj);
$title = $isEditMode ? ('编辑资讯 &rsaquo; ' . $postObj->title) : '撰写资讯';
$css = 'my.postcompose.css';
require '../my/header.html';
?>
<h2><?php print $title; ?></h2>
<form id="postComposeForm" action="information/save" method="post">
    <div class="hide">
        <input type="text" name="operate" />
        <input type="text" name="submit" value="<?php print $isEditMode ? $postObj->submit : ''; ?>" />
        <input type="text" name="id" value="<?php print $isEditMode ? $postObj->id : ''; ?>"/>
    </div>

    <div class="toolbar">
        <span tabindex="0" class="btn" data-act="my.postcompose/save">保存草稿</span>
        <span tabindex="0" class="btn btn-primary" data-act="my.postcompose/publish">保存并发布</span>
    </div>
    <div class="grid">
        <div class="lft">
            <div class="form-field">
                <div class="field-hd"><label for="title">标题</label></div>
                <div class="field-bd"><input type="text" id="title" value="<?php print $isEditMode ? $postObj->title : '' ?>" name="title" class="text" data-validate='["require"]' /></div>
            </div>
            <div class="form-field">
                <div class="field-hd"><label for="postcontent">描述</label></div>
                <div class="field-bd"><textarea class="text" rows="10" id="postcontent" name="content" data-validate='["require"]'><?php print $isEditMode ? $postObj->content : ''; ?></textarea></div>
            </div>
            <div class="form-field field-img">
                <div class="field-hd"><label for="img">封面图片</label></div>
                <div class="field-bd">
                    <input type="text" id="img" name="cover" class="text" value="<?php print $isEditMode ? $postObj->img : ''; ?>" data-validate='["require"]' />
                    <div class="field-formtip">
                        <p>用于前台列表页中，正方形的图片</p>
                    </div>
                </div>
            </div>
            <div class="form-field field-img">
                <div class="field-hd"><label for="img">详情首图</label></div>
                <div class="field-bd">
                    <input type="text" id="img2" name="img" class="text" value="<?php print $isEditMode ? $postObj->img : ''; ?>" />
                    <div class="field-formtip">
                        <p>用于资讯详情页中，第一张图片，非必须</p>
                    </div>
                </div>
            </div>
            <div class="form-field field-author">
                <div class="field-hd"><label for="author">撰文</label></div>
                <div class="field-bd">
                    <input type="text" id="author" name="author" class="text" value="<?php print $isEditMode ? $postObj->author : ''; ?>" />
                </div>
            </div>
            <div class="form-field field-photographer">
                <div class="field-hd"><label for="photographer">摄影</label></div>
                <div class="field-bd">
                    <input type="text" id="photographer" name="photographer" class="text" value="<?php print $isEditMode ? $postObj->photographer : ''; ?>" />
                </div>
            </div>
            <div class="form-field">
                <div class="field-hd"><label for="category">分类</label></div>
                <div class="field-bd category">
                    <script>var categoryList=<?php print System::JSON($categoryList); ?>;</script>
                    <div id="category"><input type="hidden" name="category" value="<?php print $isEditMode ? $category : '';  ?>" /></div>
                    <?php if($isEditMode): ?>
                    <span tabindex="0" class="btn" data-act="my.category/update">更新，不影响资讯排序</span>
                    <?php endif; ?>
                </div>
            </div>
            <?php if(IS_SUPER_USER): ?>
            <div class="form-field">
                <div class="field-hd"><label>商品</label></div>
                <div class="field-bd"><div class="fn-util fn-album-editor" data-var="albumItems"></div></div>
            </div>
            <?php if($isEditMode && $postObj->albumItems): ?>
            <script>var albumItems=<?php print System::JSON($postObj->albumItems);  ?>;</script>
            <?php endif; ?>

            <div class="form-field field-we">
                <div class="field-hd"><label for="postcontent">图文内容</label></div>
                <script src="/asset/default/tinymce/tinymce.min.js"></script>
                <div class="field-bd"><textarea class="text" rows="16" id="wecontent" name="wecontent"><?php print $isEditMode ? $postObj->wecontent : ''; ?></textarea></div>
            </div>

            <?php endif; ?>
        </div>
        <div class="rgt">
            <?php if($isEditMode): ?>
            <div class="box">
                <div class="box-hd">资讯信息</div>
                <div class="box-bd">
                    <dl class="attr">
                        <dt>原始作者：</dt>
                        <dd><?php print $postObj->nick; ?></dd>
                    </dl>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="toolbar">
        <span tabindex="0" class="btn" data-act="my.postcompose/save">保存草稿</span>
        <span tabindex="0" class="btn btn-primary" data-act="my.postcompose/publish">保存并发布</span>
    </div>
</form>

<?php
$initJSMod = 'my.postcompose';
require '../my/footer.html';
