<?php
$title = '豆邮';
$css = 'my.doumail.css';
require '../my/header.html';
?>
<h2><?php print $title; ?></h2>

<div class="grid grid-act">
    <div class="grid-header"><h3>活动列表</h3></div>
    <?php
    if(count($actList)){
        print '<div class="list"><ul>';
        foreach($actList as $vo):
            $isSelected = 'y' === $vo->selected;
    ?>
    <li<?php if($isSelected){print ' class="item-on"';} ?>>
        <div class="lft"><span class="disc"></span></div>
        <div class="rgt">
            <p><a href="/doumail/edit/<?php print $vo->id; ?>"><?php print $vo->title; ?></a></p>
            <p class="tip">创建于<?php print $vo->created; ?>，已经发送<?php print $vo->amount; ?>封豆邮 [<a href="/doumail/test/<?php print $vo->id; ?>" target="_blank">测试</a>]</p>
        </div>
    </li>
    <?php
        endforeach;
        print '</ul></div>';
    }
    ?>
    <a href="/doumail/create">添加活动</a>
</div>

<div class="grid grid-board">
    <div class="grid-header"><h3>小心，熊出没</h3></div>
    <div id="outbox"><div id="output">他们所呆的地方，就是世界的中心</div></div>
    <div class="control"><span id="sendbtn" class="btn btn-primary" tabindex="0" data-act="my.doumail/start">开始豆邮溅射</span></div>
</div>

<div class="grid grid-user">
    <div class="grid-header"><h3>豆邮发送账号</h3></div>
    <?php
    if(count($userList)){
        print '<div class="list"><ul>';

        function expireMsg($vo){
            $diff = strtotime($vo->expire) - time();

            if($diff < 0){
                return '<span class="expire expire-pass">授权已过期，请重新<a href="/doumail/auth">授权</a></span>';
            }else if($diff < 86400){
                return '<span class="expire expire-near">授权即将过期，请重新<a href="/doumail/auth">授权</a></span>';
            }else{
                return '<span class="expire">授权有效期剩余：' . ceil($diff/86400) . '天</span>';
            }
        }

        foreach($userList as $vo):
    ?>
    <li>
        <div class="lft"></div>
        <div class="rgt">
            <p>
            <span class="user"><a href="/doumail/edit/<?php print $vo->id; ?>"><?php print $vo->douban_user_name; ?></a> - <?php print $vo->nick; ?></span>
                <?php print expireMsg($vo); ?>
            </p>
        </div>
    </li>
    <?php
        endforeach;
        print '</ul></div>';
    }
    ?>

    <a href="/doumail/auth">绑定账号</a>
</div>

<?php
$initJSMod = 'my.doumail';
require '../my/footer.html';
