<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>我的<?php __(C('site_name')); ?></title>
        <?php $asset->import('css/b')->css(); ?>
        <script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy-min.js"></script>
    </head>
    <body>
        <div id="header">
            <div class="container">
                <h1>我的<?php __(C('site_name')); ?></h1>
                <div class="user">welcome，<?php __($curUserName); ?></div>
                <div class="menu">
                    <a href="/my/postlist" data-act="postlist/init">文章列表</a>
                    <a href="/my/postnew" data-act="postcompose/new">撰写新文章</a>
                    <?php if(IS_SUPER_USER): ?>
                    <a href="/my/submiturl" data-act="submiturl/init">Submit</a>
                    <?php endif; ?>
                    <a href="/my/myaccount" data-act="myaccount/init">我的账号</a>
                    <a href="/my/logout">退出</a>
                </div>
            </div>
        </div>
        <div id="content" class="container"><div class="my-content"></div></div>
        <div id="footer"><p>iewei.com 拥有生活的灵感</p><p>Thank you for your amazing contribution!</p></div>
        <?php $asset->import('js/app')->js(); ?>
        <script>
            var ieeConfig = {
                module: 'postlist',
                super: <?php __(IS_SUPER_USER ? 'true' : 'false'); ?>,
                userNick: '<?php __($curUserNick);?>',
                version: 4
            };
            KISSY.use('iee/app', function(S, App){App.init(window.ieeConfig)})
        </script>
    </body>
</html>
