<div class="panel-hd"><h2>我的账号</h2></div>
<div class="panel-bd">
    <form>
        <div class="toolbar toolbar-bg">
            <button type="button" class="btn btn-primary" data-act=postcompose/save>更新</button>
        </div>
        <div class="field-box">
            <fieldset>
                <legend>修改密码</legend>
                <div class="field field-inline">
                    <label class="field-label" for="pwd">旧密码</label>
                    <div class="field-content"><input type="password" id="pwd" name="pwd" class="text" /></div>
                </div>
                <div class="field field-inline">
                    <label class="field-label" for="newpwd">新密码</label>
                    <div class="field-content"><input type="password" id="newpwd" name="newpwd" class="text" /></div>
                </div>
                <div class="field field-inline">
                    <label class="field-label" for="newpwd2">再输入新密码</label>
                    <div class="field-content"><input type="password" id="newpwd2" name="newpwd2" class="text" /></div>
                </div>
            </fieldset>
        </div>
        <div class="toolbar toolbar-bg">
            <button type="button" class="btn btn-primary" data-act="myaccount/update">更新</button>
        </div>
    </form>
</div>
