<div class="panel-hd"><h2>文章列表</h2></div>
<div class="panel-bd">
    <div class="toolbar">
        <div class="action">
            <input type="checkbox" data-act="postlist/selectAll" />
            <select class="batchAction">
                <option>批量操作</option>
                <?php if(IS_SUPER_USER): ?>
                <option value="fp">首页展现</option>
                <option value="unfp">取消首页展现</option>
                <option value="lock">锁定</option>
                <option value="unlock">取消锁定</option>
                <?php endif; ?>
                <option value="trash">移至回收站</option>
            </select>
            <button type="button" class="btn" data-act="postlist/batch">应用</button>
        </div>
        <div class="filter">
            <form class="query-form">
                <input class="text" type="text" name="q" />
                <select name="range">
                    <option value="all" selected>全部状态</option>
                    <option value="publish">已发布</option>
                    <option value="draft">草稿箱</option>
                    <option value="trash">回收站</option>
                </select>
                <select name="type">
                    <option value="all" selected>全部类型</option>
                    <option value="post">文章</option>
                    <option value="album">专辑</option>
                </select>
                <?php if(IS_SUPER_USER): ?>
                <?php
                $authorList = $db->table('tp_users')->select();
                ?>
                <select name="author">
                    <option value="">全部作者</option>
                    <?php foreach($authorList as $authorObj): ?>
                    <option value="<?php print $authorObj->id; ?>"><?php print $authorObj->nick; ?></option>
                    <?php endforeach; ?>
                </select>
                <?php endif; ?>
                <button class="btn" type="submit">筛选</button>
            </form>
        </div>
        <div class="pager"></div>
    </div>

    <div class="grid">读取中...请稍候</div>

    <div class="toolbar"><div class="pager"></div></div>
</div>
