<div class="popup-relateitem"><form>
    <dl class="field">
        <dt><label for="ari1">标题</label></dt>
        <dd><input type="text" class="text" name="title" id="ari1" value=""></dd>
    </dl>
    <dl class="field">
        <dt><label for="ari2">描述</label></dt>
        <dd><textarea name="content" id="ari2" rows="3" class="text"></textarea></dd>
    </dl>
    <dl class="field">
        <dt><label for="ari2">图片</label></dt>
        <dd><input type="text" class="text" name="img" id="ari3" value=""></dd>
    </dl>
    <dl class="field">
        <dt><label for="ari4">链接</label></dt>
        <dd><input type="text" class="text" name="outer_url" id="ari4" value=""></dd>
    </dl>
</form></div>
