<div class="panel-hd"><h2>Submit</h2></div>
<div class="panel-bd">
    <div class="toolbar">
        <div class="filter">
            <form class="query-form">
                <select name="status">
                    <option value="s">待通过</option>
                    <option value="p">已通过</option>
                    <option value="all">全部</option>
                </select>
                <select name="agency">
                    <option value="all">全部处理人</option>
                    <?php
                    $authorList = $db->table('tp_users')->select();
                    foreach($authorList as $authorObj):
                    ?>
                    <option value="<?php print $authorObj->id; ?>"><?php print $authorObj->nick; ?></option>
                    <?php endforeach; ?>
                </select>
                <button class="btn" type="submit">筛选</button>
            </form>
        </div>
        <div class="pager"></div>
    </div>

    <div class="grid">读取中...请稍候</div>

    <div class="toolbar"><div class="pager"></div></div>
</div>
