<?php
$assetTool->import('fp.base.css');

$title = isset($title) ? $title : System::config('site_name');

$isMobileAccess = false;
if(isset($isMobile) && $isMobile){
    $isMobileAccess = true;
}

$headerTag = isset($headerTag) ? $headerTag : 'h1';
$headerTag = ('h1' === strtolower($headerTag)) ? 'h1' : 'div';

$pageCls = isset($pageCls) ? ('tpl-' . $pageCls) : '';
$desc = isset($desc) ? $desc : '一味，拥有生活的灵感。我们呈现那些美的、有灵气的、带着生活的经历和温度的物品。唤醒察觉的心，去获取感知生活的灵力与发现美。';
?>
<!DOCTYPE HTML>
<html class="<?php print($pageCls); ?>">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="<?php print($desc); ?>"/>
        <meta property="wb:webmaster" content="f7d4153e5eb8642c" />
        <title><?php print($title); ?></title>
        <?php $assetTool->css();?>
        <script src="//g.alicdn.com/kissy/k/1.4.14/seed-min.js"></script>
        <script>KISSY.config({combine:true})</script>
        <?php $assetTool->js(); ?>
        <?php
        $taokeConfig = System::config('taoke');
        if($taokeConfig && $taokeConfig['appKey']){
            print '<script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=' . $taokeConfig['appKey'] . '"></script>';
        }
        ?>
        <?php if(!$isMobileAccess): ?>
        <base target="_blank" />
        <?php endif; ?>
    </head>
    <body>
        <?php if($isMobileAccess): ?>
        <div id="header" class="mobile-header">
            <<?php print($headerTag); ?> id="site-title"><a href="/" title="一味 拥有生活的灵感" rel="home" target="_self"><img src="http://pic.yupoo.com/iewei/CsyJBJHp/Sc6vB.png" height="53" width="53" /><s></s><span>一味</span></a></<?php print($headerTag);?>>
        </div>
        <?php else: ?>
        <div id="header">
            <div class="wrapper">
                <div id="logo-box"><<?php print($headerTag); ?> id="site-title"><a href="/" title="一味 拥有生活的灵感" rel="home" target="_self"><img src="http://pic.yupoo.com/iewei/CsyJBJHp/Sc6vB.png" height="53" width="53" /><s></s><span>一味</span></a></<?php print($headerTag);?>></div>
                <div id="socialm">
                    <a class="fp" href="/"><span>首页</span><s></s></a>
                    <a class="about" href="/about"><span>关于一味</span><s></s></a>
                    <a class="weibo" href="http://weibo.com/iiiewei"><span>关注</span><s></s></a>
                    <a class="mail" href="mailto:iewei.inc@gmail.com"><span>联系</span><s></s></a>
                </div>
            </div>
        </div>
        <?php endif; ?>

        <div id="content">
            <?php $assetTool->import('fp.base,fp.gotop'); ?>
