<script>
    (function(S){
        var DOM = S.DOM;
        var Event = S.Event;

        S.config({
            packages:[{
                name: 'iee',
                path: '/asset/default/<?php  print System::config('asset_version') ?>/',
                debug: true,
                ignorePackageNameInUri: true,
                tag: ''
            }]
        });

        Event.on(document, 'click', function(ev){
            var target = ev.target;
            var evt = (DOM.attr(target, 'data-evt') || '').split('/');

            if(2 != evt.length){ return; }
            if('A' === target.nodeName){ ev.preventDefault(); }

            S.use(evt[0], function(S, Mod){
                Mod[evt[1]](target, ev.type);
            });
        });
    })(KISSY);
</script>
