<?php
$title = $authorData->nick . ' | ' . C('site_name');
$headerTag = 'div';
$pageCls = 'author';
require 'header.html';

$nick = $authorData->nick;
?>
<h1 class="header" title="<?php __($nick); ?>的推荐"><span class="stdauthor stdauthor-<?php __($nick); ?>"><?php __($nick);?>'s selection</span></h1><div id="waterfall"></div><div id="loading"></div><script>authorId=<?php __($authorData->id); ?></script>
<?php
$asset->import('js/base')->import('js/fall')->import('js/author');

require 'footer.html';
?>
