<?php
$title = $postData->title . ' | ' . C('site_name');
$headerTag = 'div';
$pageCls = 'item';
require 'header.html';

$asset->import('js/item');
?>
<script>curPostId=<?php __($postData->id); ?>;hashId=(function(hash){return hash.match(/^\d+$/) ? hash : false;})(KISSY.trim(location.hash.substr(2)));</script>
<div id=container>
    <div id=slider><div id=post<?php __($postData->id); ?> class=panel><script>if(hashId){KISSY.DOM.css('#post<?php __($postData->id); ?>','visibility','hidden')}</script><?php require 'item-panel-content.html'; ?></div></div>
    <div id="trigger"><script>if(hashId){KISSY.DOM.css('#trigger','visibility','hidden')}</script>
        <?php if($prevPostData): ?>
        <a href="/<?php __($prevPostData->id); ?>" data-id="<?php __($prevPostData->id); ?>" title="上一篇：<?php __($prevPostData->title); ?>" class=prev></a>
        <?php endif; ?>
        <?php if($nextPostData): ?>
            <a href="<?php __($nextPostData->id); ?>" data-id="<?php __($nextPostData->id); ?>" title="下一篇：<?php __($nextPostData->title); ?>" class=next></a>
        <?php endif; ?>
    </div>
</div>
<?php
require 'footer.html';
