<?php if(!$isComplexItem && !$isRelateItem): ?>
<div class="side">
    <div class="hd"><h2><a title=<?php __($postData->nick); ?>的推荐 href=/author/<?php __($postData->username); ?>><span class="stdauthor stdauthor-<?php __($postData->username); ?>"><span class=num>(<?php __($postsNum); ?>)</span></span><s></s></a></h2></div>
    <div class=bd>
    <?php
    $currentPostId = $postData->id;

    $maxRecentCount = 6;
    foreach($recentPostResult['list'] as $recentPostData){
        if(0 < $maxRecentCount  && $recentPostData->id !== $currentPostId){
            $maxRecentCount--;
            __('<a href="/' . $recentPostData->id . '" title="' . $recentPostData->title . '"><img width=80 height=105 src="'.$recentPostData->img.'"/></a>');
        }
    }
    ?>
    </div>
</div>
<div class="main"><?php __(stdpost($postData, 'h1')); ?></div>
<?php else: ?>
<div class="main complex-main"><?php __(stdpost($postData, 'h1')); ?></div>
<?php endif;?>
<textarea><?php if($prevPostData): $prevPostId = get_post_id($prevPostData); ?><a href="/<?php __($prevPostId); ?>" data-id="<?php __($prevPostId); ?>" title="上一篇：<?php __($prevPostData->title); ?>" class="prev"></a><?php endif; ?><?php if($nextPostData): $nextPostId = get_post_id($nextPostData); ?><a href="<?php __($nextPostId); ?>" data-id="<?php __($nextPostId); ?>" title="下一篇：<?php __($nextPostData->title); ?>" class="next"></a><?php endif; ?></textarea>
