<?php
$title = '关于一味 | ' . System::config('site_name');
$headerTag = 'div';
$pageCls = 'about';
require '../common/header.html';
?>
<div class="col-width">
<div class="hd">
<h1><span>关于一味</span></h1>
</div>
<div class="bd">
<p>因为对生活的饱满热忱，人们学会用废旧和闲置的物品DIY出新鲜和充满灵气的新物件;</p>
<p>学会留心和观察身边的人事物，穷街小巷里其实藏有人间美味;</p>
<p>拥有感受和发觉美的眼光，一件有故事的器物会在家徒四壁里也开出丰富的生活之光。</p>
<p>&nbsp;</p>
<p>我们的时代太浮躁了，人们太需要被认可; 互联网的世界把这种疯狂和不可理喻加剧，搜索排序的规则把出得起钱的东西摆在最前面，满眼看到的都是沾沾自喜的大热门，满大街都是趋同的烂品味。没有公平可言，没有独立审美可言，那些热门和TOP之外的物品，在这个信息过载的时代被隐藏和排挤了，你需要花很大的力气，才能找到它们。</p>
<p>&nbsp;</p>
<p>一味就是带着这样的初衷诞生的：&nbsp;唤醒觉察的心，去获得感知生活的灵力与发现美。</p>
<p>&nbsp;</p>
<p>我们想呈现，那些美的、有灵气的、带着生活的经历和温度的物品。是物品，不是虚幻的够不着的设计、灵感和想象，是切实能够拥有的实体。我们但愿能挖掘更多带有独特品位和审美情趣的物品，让更多的人拥有它，进而拥有独特的生活可能性。</p>
<p>一味将以网络为主要载体，我们会探索各种表达的可能性，敬请关注我们。同时欢迎各种形式的跨界合作，一起进行有趣的探索和体验。</p>
<p>&nbsp;</p>
<p>一切才刚刚开始。</p>
<p>&nbsp;</p>
<p>我们的网站是：iewei.com</p>
</div>
</div>
<?php
require '../common/footer.html';
?>
