<?php
$title = "Let's Share!分享生活的灵感 | " . System::config('site_name');
$headerTag = 'div';
require '../common/header.html';
?>
<style>
    #content{ width: 100%; padding-top:0; background: url(http://pic.yupoo.com/iewei/CeUfBuel/AMcAS.jpg) repeat; }
    #container{ width: 1000px; margin: 0 auto; }
    #container .row{ position: relative; }
    #container .row img{ display: block; }
    #container a{ position: absolute; background: url(about:blank); opacity: 0.3 }
    #container .fp{ width: 470px; height: 140px; top: 20px; left: 284px; }
    #container .thanks{ width: 240px; height: 110px; top: 232px; left: 376px; }

    #container .bike-1,#container .bike-2{ width: 250px; height: 250px; top: 120px; left: 364px; }
    #container .bike-2{ left: 618px; }
    #container .foreverc{ width: 100px; height: 220px; top: 140px; left:899px; }

    #container .ww{ position: absolute; width: 20px; height: 20px; top: 365px; left: 930px; }
    #fly{ position: absolute; width: 469px; height: 215px; top: 6px; left: 10px; background: url(http://pic.yupoo.com/iewei/CeUaujWd/w2zCs.png) no-repeat;opacity:0;filter:alpha(opacity=0) }
</style>
<div id="container">
    <div class="row"><img src="http://pic.yupoo.com/iewei/CeUaW56A/IfMyt.png" width="1000" height="358" /><ins id="fly"></ins></div>
    <div class="row"><img src="http://pic.yupoo.com/iewei/CeUb3uhU/ofhU6.png" width="1000" height="325" /></div>
    <div class="row">
        <img lazy="http://pic.yupoo.com/iewei/Cf4wSwxw/6kWR2.png" width="1000" height="442" />
        <span href="" target="_blank" class="ww">
            <span class="J_WangWang" data-icon="small" data-nick="%E6%B0%B8%E4%B9%85c%E6%97%97%E8%88%B0%E5%BA%97%3A%E9%94%80%E5%94%AE1%E5%8F%B7" data-encode="true"
data-display="inline" data-tnick=""></span>
        </span>
    </div>
    <div class="row">
        <img lazy="http://pic.yupoo.com/iewei/CeUbbvzW/T7tRI.png" width="1000" height="441" />
        <a href="http://detail.tmall.com/item.htm?id=7427917685" target="_blank" class="bike-1"></a>
        <a href="http://detail.tmall.com/item.htm?id=7425937799" target="_blank" class="bike-2"></a>
        <a href="http://foreverc.tmall.com/" target="_blank" class="foreverc"></a>
    </div>
    <div class="row">
        <img lazy="http://pic.yupoo.com/iewei/CeUaJOi4/ry9Yn.png" width="1000" height="359" />
        <a class="fp" href="http://iewei.com/" target="_self" title="前往首页" onclick="document.cookie='fc=1'"></a>
        <a id="thanks" class="thanks" href="http://weibo.com" target="_blank"></a>
    </div>
<script>
/**
document.getElementById('thanks').href = getShareLink({
    url: encodeURIComponent('http://iewei.com/foreverc'),
    title: encodeURIComponent('我觉得这个活动很棒，也请你看一看。＃Let\'s share: 分享一味，赢取永久C＃ 9月4日－9月13日，登陆iewei. com，分享你中意的一味并@你想传递的朋友。我们会抽出部分参与者赠送永久C单车及环保袋，详情和参与请猛戳：')
});
**/
(function(S){
var D=S.DOM,E=S.Event,fly=D.get('#fly'),A=S.Anim;
window.onload=function(){
    setTimeout(function(){
        (new A(fly,{opacity:1,left:52,top:74},1,'bounceOut',function(){
            S.each(D.query('img','#container'),function(el){
                var src=D.attr(el,'lazy');
                src && (el.src=src);
            });
        })).run()
    },240);
};
})(KISSY);
</script>
    <script src="http://a.tbcdn.cn/p/header/webww-min.js"></script>
</div>
<?php
require '../common/footer.html';
?>
