<?php
/**
 * 一味首页
 */
$pageCls = 'index';

if(isset($catObj)){
    $title = preg_replace('/(.+)(\/(.+)?)/', '$3 &rsaquo; $1', $catObj->name) . ' | ' . System::config('site_name');
}

require '../common/jq-header.html';
?>
<?php
if(!$isMobile){
    renderNav(FP_PAGE_TYPE);

    if(FP_PAGE_TYPE === 'thing'){
        renderCategory($categoryList, array(
            'first' => array(
                'link' => '/',
                'html' => '全部'
            ),
            'curCatObj' => isset($catObj) ? $catObj : null
        ));
    }
}
?>

<?php
renderSlider($sliderInfos);
?>

<div id="waterfall" class="waterfall"></div>

<script>
<?php
if($isMobile){
    print 'var isMobile=true;';
}
if(isset($catObj)){
    print 'var curCatId=' . $catObj->id . ';';
}

?>
var pageType = '<?php print FP_PAGE_TYPE; ?>';
</script>

<?php
$assetTool->import('fp');
?>
<?php require '../common/jq-footer.html';
