<?php
/**
 * 一味首页
 */
$pageCls = 'index';

if(isset($catObj)){
    $title = preg_replace('/(.+)(\/(.+)?)/', '$3 &rsaquo; $1', $catObj->name) . ' | ' . System::config('site_name');
}

require '../common/jq-header.html';
?>
<?php
if(!$isMobile){
    renderNav();

    renderCategory($categoryList, array(
        'first' => array(
            'link' => '/',
            'html' => '全部'
        ),
        'curCatObj' => isset($catObj) ? $catObj : null
    ));
}
?>

<div id="waterfall" class="waterfall"></div>

<script>
<?php
if($isMobile){
    print 'var isMobile=true;';
}
?>
</script>

<?php
$assetTool->import('fp');
?>
<?php require '../common/jq-footer.html';
