<form class="uc uc-login" method="post" action="/auth/check" target="_self">
    <div class="inner">
        <input type="hidden" name="redirect" value="<?php print $redirect; ?>" />
        <?php if(isset($errMsg)): ?>
        <div class="err"><span><?php print($errMsg); ?></span></div>
        <?php endif; ?>
        <dl>
            <dt><label for="email">邮箱：</label></dt>
            <dd><input type="text" name="email" id="email" class="text" autofocus="autofocus" value="<?php print($email);?>" size="20" tabindex="10" /></dd>
        </dl>
        <dl>
            <dt><label for="pwd">密码：</label></dt>
            <dd><input type="password" name="pwd" id="pwd" class="text" size="20" tabindex="20" /></dd>
        </dl>

        <div class="action">
            <button type="submit">登录</button>
        </div>
    </div>
    <div class="bot">
        <a target="_self" href="/register">免费注册</a>
        <a target="_self" href="/forgetpwd">忘记密码</a>
    </div>
</form>
